################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RSMS.App/.vs/RSMS.App
/RSMS.App/RSMS.Entities/obj
/RSMS.App/RSMS.Entities/bin/Debug/net8.0
/RSMS.App/RSMS.BusinessObjects/bin/Debug/net8.0
/RSMS.App/RSMS.BusinessObjects/obj/Debug/net8.0/refint
/RSMS.App/RSMS.BusinessObjects/obj/Debug/net8.0/ref
/RSMS.App/RSMS.BusinessLogic/bin/Debug/net8.0
/RSMS.App/RSMS.BusinessLogic/obj
/RSMS.App/RSMS.BusinessObjects/obj
/RSMS.App/RSMS.Presenters/obj
/RSMS.App/.vs/ProjectEvaluation
/RSMS.App/RSMS.Repositories/obj
/RSMS.App/RSMS.Presenters/bin/Debug/net8.0
/RSMS.App/RSMS.Repositories/bin/Debug/net8.0
/RSMS.App/RSMS.Repositories/bin/Debug/net8.0/RSMS.BusinessObjects.dll
/RSMS.App/RSMS.Controllers/obj
/RSMS.App/RSMS.DataContext.EFCore/obj
/RSMS.App/RSMS.Controllers/bin/Debug/net8.0
/RSMS.App/RSMS.DataContext.EFCore/bin/Debug/net8.0
/RSMS.App/RSMS.IoC/obj
