################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RSMS.App/.vs/RSMS.App
/RSMS.App/RSMS.Entities/obj
