################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RSMS.App/.vs/RSMS.App
/RSMS.App/RSMS.Entities/obj
/RSMS.App/RSMS.Entities/bin/Debug/net8.0
/RSMS.App/RSMS.BusinessObjects/bin/Debug/net8.0
/RSMS.App/RSMS.BusinessObjects/obj/Debug/net8.0/refint
/RSMS.App/RSMS.BusinessObjects/obj/Debug/net8.0/ref
/RSMS.App/RSMS.BusinessLogic/bin/Debug/net8.0
/RSMS.App/RSMS.BusinessLogic/obj
/RSMS.App/RSMS.BusinessObjects/obj
/RSMS.App/RSMS.Presenters/obj
/RSMS.App/.vs/ProjectEvaluation
