@model RSMS.WebClient.Models.Bases.BaseViewModel;

@if (Model != null && Model.Response != null)
{
    <div id="toast-data"
         data-status="@Model.Response.StatusCode.ToString()"
         data-message="@Html.Raw(Model.Response.Message)">
    </div>
}