@model RSMS.WebClient.Models.Properties.PropertyTypes.PropertyTypeViewModel;

<div class="modal fade" id="propertyTypeModal" tabindex="-1" aria-labelledby="propertyTypeModal" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Create" class="needs-validation" novalidate method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New @Model.Title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3 align-items-center">
                        <div class="col-6">
                            <label class="m-0 form-label">Description</label>
                        </div>
                        <div class="col-6">
                            <input class="m-0 form-control" asp-for="@Model.PropertyTypeObj.Description" type="text" maxlength="255" required />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>