@model RSMS.WebClient.Models.PropertyTypes.PropertyTypeViewModel;

<div class="container">
    <div class="container bg-white rounded shadow py-4" style="width: 98% !important;">

        <div class="container pb-3">
            <button class="text-white btn btn-success" data-bs-toggle="modal" data-bs-target="#oeeModal"><i class="bi bi-plus-circle"></i> Add @Model.Title</button>
        </div>

        <partial name="_Create" />

        <div class="content-tables">
            <div class="table-responsive">
                <table class="table data-table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var properyType in Model.PropertyTypes){
                            <tr>
                                <td class="text-center">@properyType.Id</td>
                                <td>@properyType.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>