<div class="container">
    <div class="container bg-white rounded shadow py-4" style="width: 98% !important;">

        <div class="container pb-3">
            <button class="text-white btn btn-success" data-bs-toggle="modal" data-bs-target="#oeeModal"><i class="bi bi-plus-circle"></i> Añadir OEE</button>
        </div>

        <partial name="_Create" />

        <div class="content-tables">
            <div class="table-responsive">
                <table class="table data-table">
                    <thead>
                        <tr>
                            <th scope="col">Máquina</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Disponibilidad</th>
                            <th scope="col">Rendimiento</th>
                            <th scope="col">Calidad</th>
                            <th scope="col">Total</th>
                            <th scope="col">Empleado #1</th>
                            <th scope="col">Empleado #2</th>
                            <th scope="col">Empleado #3</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>