<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real State Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/data-tables/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <partial name="Components/_TopMenu" />

    <div class="container">
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Jonathan Rivera Vasquez
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/data-tables/datatables.min.js"></script>
    <script src="~/js/commons/validations.js"></script>
    <script src="~/js/commons/datatables.js"></script>
    <script src="~/js/commons/updateFields.js"></script>

     <!-- Toast Component -->
    <partial name="Components/_Toast" />
    <script src="~/js/commons/toast.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
